.language-submenu-item{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.city-submenu-item{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.theme-submenu-item{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.services-submenu {
  border: none;
  outline: 0px;
  scroll-behavior: smooth;
  width: 10rem;
  position: absolute;
  top: 26.2rem;
  list-style: none;
  text-align: start;
}

.services-submenu option {
  background: #FDF7F0;
  color: black;
  cursor: pointer;
  border-radius: 5%;
}


