* {
  font-family: var(--font-typo);
}
.Greeters {
  height: auto;
  margin-top: 50px;
}
.greeters-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.greeters-title {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 0px;
  font-size: xx-large;
}

.greeters-btn {
  font-family: 'Titillium Web', sans-serif;
  background-color: #F4E7E7;
  position: relative;
  
  left: 50%;
  margin-top: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  
  transform: translateX(-50%);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 66px;
  color: black;
  cursor: pointer;
}

@media screen and (max-width:500px) {
  .greeters-btn {
  margin-top: 1rem;    
  }
  .greeters-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 26px;
  }
}
