.greeter-profil-bloc-card {
  display: block;
  align-content: center;
  width:30vw;
}

.greeter-profil-bloc-card-img {
  width:30vw;
  border-radius: 20px;
  margin-top: 23px;
  box-shadow: 0px 0px 5px black;
}

.greeter-profil-bloc-card-btn {
  background-color: var(--bg-color-beige);
  font-family: var(--font-typo-text);
  position: absolute;
  top: 99%;
  left: 50%;
  padding: 0 30px;
  transform: translateX(-50%);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 66px;
  color: black;
  cursor: pointer;
  transition: 0.4s linear;
  line-height: 50px;
}

.greeter-profil-bloc-card-btn:hover {
  color: white;
  background: black;
}

.greeter-profil-bloc-info-catchphrase {
  font-style : italic;
  text-align: left;
  font-size: 17px;
  text-align: justify;
  font-family: var(--font-typo-text);
}

h4 {
  font-size:19px;
}

@media screen and (max-width: 1024px) {
  .greeter-profil-bloc-card {
    width:100vw;
  }
  .greeter-profil-bloc-card-img {
    width:80vw;
    margin-top: 60px;
  }

  .greeter-profil-bloc-info-catchphrase {
    padding: 0 11vw;
    font-size: 16px;
  }
  .greeter-profil-bloc-card-btn {
    font-size: 16px;
    line-height: 40px;
    margin: 2vh 0;
    padding: 0 30px;
    width:40vw;
  }
  .greeter-profil-bloc-card-btn-a{
    position: relative;
    bottom: 96%;
    transform: translateX(-50%);
  }
  h4 {
    font-size:20px;
  }
}

@media screen and (max-width: 640px) {
  .greeter-profil-bloc-card-btn {
    font-size: 16px;
    line-height: 40px;
    margin: 2vh 0;
    padding: 0 30px;
    width:75vw;
  }
}