.cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cities-title {
  text-align: center;
  margin: 5rem 0 4rem 0;

}

.cities-btn {
  margin-top: 5rem;
  font-family: 'Titillium Web', sans-serif;
  background-color: #F4E7E7;
  position: relative;
  top: 99%;
  left: 50%;
  padding-left: 10%;
  padding-right: 10%;
  transform: translateX(-50%);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 66px;
  color: black;
  cursor: pointer;
}

@media screen and (max-width:500px) {
  .cities-title {
    text-align: center;
    margin: 2rem;
  }
  .cities-btn {
    margin-top: 1rem;
    
  }
}