.city-img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.container-citycard{
  height: 300px;
  margin-top: 2rem;

}

.city-name {
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 900;
  position: relative;
  bottom: 28%;
  z-index: 10;
  font-size: x-large;
}

@media (max-width: 500px) { 
  
  .city-img {
    width: 300px;
  height: 250px;
  }

  .container-citycard{
    margin: 1rem 0;
    width: 300px;
  height: 250px;
  }
}