.sidebar{
  position: fixed;
  top: 0;
  height: 100%;
  width: 30%;
  background:rgba(0, 0, 0, 0.1) ;
}
.sidebar .nav-links {
  height: 100%;
  padding-top: 0px;
  font-size: 18px;
  margin: 0;
}
.sidebar .nav-links li {
  list-style: none;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid black;
  
}
.sidebar .nav-links li a {
  text-decoration: none;
}
.sidebar .nav-links li .link_name {
  font-size: 18px;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: center;
}
.sidebar .nav-links li a:hover{
  opacity: 1;
  color: darkgrey;
}
