.searchBar {
  height: 0.5rem;
  margin-right: 1rem;
  position: relative;
  width: 15vw;
}

.searchBar input {
  
  width: 100%;
  font-size: 1.5rem;
  /* padding: 0.5rem; */
  color: black;
  border-radius: 6px;
  outline: none;
}