.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: salmon;
}

.Navbar .nav-element {
  margin: 0 20px;
  display: flex;
  font-size: 3rem;
}

.Navbar .nav-element .nav-menu-button {
  cursor: pointer;
}

.Navbar .logo-element {
  width: 200px;
  cursor: pointer;
}

.Navbar .logo-element img {
  width: 100%;
}

.Navbar .nav-sub-element {
  display: flex;
}

.Navbar .nav-sub-element button, .Navbar .nav-sub-element select {
  cursor: pointer;
  margin: 10px;
  height: 45px;
  width: 45px;
}
