.greeters-pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 2rem;
}

.greeters-pagination-title {
  text-align: center;
  padding: 70px;
}

.paginationBttns {
  width: 70%;
  height: 5rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 2rem auto;
  border-radius:20px;
  box-sizing: border-box;
}

.paginationBttns a {
  font-size:18px;
  padding:1rem 1rem;
  margin: 10px;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: rgb(255, 0, 0);
  font-size:20px;
}

.paginationActive a {
  border: 1px solid rgb(255, 0, 0)
}

.paginationDisabled a {
 
  cursor: not-allowed;
}
.paginationDisabled a:hover {
 background: transparent;
  cursor: not-allowed;
}

.arrowleft{
  font-size:45px;
}
.arrowright{
  font-size:45px;
}
