.ConceptBanner-Container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 50px;
  height: auto;
}

.ConceptBanner-image {
  border-radius: 20px;
  width: 95vw;
  object-fit: cover;
}

.ConceptBanner-title {
  color: white;
  width: 100%;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 5vw;
  position: absolute;
  top:20vh;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 200px;
}
  

