.ConceptBanner-Container {
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
  width: 95vw;
  margin: 30px auto;
  font-family: var(--font-typo);
}

.ConceptBanner-image {
  position: relative;
  border-radius: 20px;
  width: 80%;
  object-fit: cover;
  z-index: 3;
}

.ConceptBanner-title {
  color: white;
  width: 100%;
  position: absolute;
  z-index: 10;
  padding-top: 15vh;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 5vw;
}
  

