.row {
  background: var(--bg-color-beige);
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-family: var(--font-typo);
}

.contact {
  display: flex;
  justify-content: center;
margin-top: 20px;
}

.social {
margin:16px;
}

.button{
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--bg-color-beige);
  padding: 0 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 66px;
  color: black;
  cursor: pointer;
  transition: 0.2s linear;
  line-height: 50px;

}
.button:hover{
  color: white;
  background: black;
}

.globalCollon{
display:flex ;
margin: 20px;
/* justify-content: center; */
}

.titre{
  display:flex ;
  justify-content: center;
  width: 50px;

}

.Info {
  list-style-type: none;
  margin:20px;
  padding:0px;
}
.sousTitre{
margin: 20px;

}
.Info li a{

  text-decoration: none;
  color: black;

}

.legal-link {
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) { 
  .globalCollon{
    display:flex ;
    flex-direction: column;
    justify-content: center;

}
.button{
  padding: 0 20px;

}
.social {
  margin:10px;
  }

}