.admin-details-city-container{
  position: absolute;
  width: 70%;
  left: 30%;
}

.admin-details-city-title{
  padding: 20px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.admin-details-city-list{
  padding-top: 20px;
}

.admin-details-city-item{
  padding-top: 20px;
}