.admin-details-greeter-container{
  position: absolute;
  width: 70%;
  left: 30%;
}

.admin-details-greeter-title{
  padding: 20px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 50px;

}

.admin-details-greeter-list{
  padding-top: 20px ;
  margin: 0 50px;
}

.admin-details-greeter-item{
  padding-top: 20px;
  border-bottom: 1px solid;
  list-style: none;
}

.admin-details-icon-btn{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  cursor: pointer;
  padding: 0 1px;
}