.MapComponent {
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.map {
  margin: 5rem auto;
  width: 80%;
  min-height: 50vh;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 0px 5px 5px #E5E5E5;
}

@media (max-width: 500px) { 
  .MapComponent {
    width: 100vw;
    margin: 2rem auto;
  }
    .map{
    margin: 0 auto;
  }
}