.greeter-card {
  width: 20rem;
  height: 15rem;
  margin: 1rem 0;
}

.greeter-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.greeter-name {
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 900;
  position: relative;
  bottom: 28%;
  z-index: 10;
}