.Banner {
  position: relative;
  margin-top: 50px;
  height: auto;
  z-index: 10;
  font-family: var(--font-typo);
}

.banner-img {
  width: 95vw;
  height: 70vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  object-fit: cover;
}

.banner-text {
  font-family: 'cursive', 'Titillium Web', sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: 900;
  position: absolute;
  top: 25%;
  bottom: 35%;
  left: 12%;
  width: 40vw;
  z-index: 10;
  font-size: xxx-large;
}

.banner-button {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 66px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s linear;
}

.banner-button:hover {
  background-color: white;
  color: black;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn{
  display: none;
}

.alice-carousel__dots {
  position: absolute;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
}

.alice-carousel__dots-item:not(.__custom):hover, 
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #ff0d0d;
}

@media screen and (max-width:500px) {
  .banner-img {
    height: 40vh;
  width: 80vw;
    
  }
  .banner-button {    
    top: 80%;
    font-size: 16px;  
    line-height: 22px;
  }
  
  .banner-text{
    font-size: xx-large;
  }
  
}
