.ban-slider-img{
  width: 100%;
  height: 500px;
  object-fit: cover
}

.alice-carousel__prev-btn {
  display: none;
}

.alice-carousel__dots-item:not(.__custom):hover, 
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #ff0d0d;
}