.greeter-profil-bloc-info {
  padding:0 80px 0 0;
}

.greeter-profil-bloc-info-catchphrase {
  font-style : italic;
  width:40vw;
}

.greeter-profil-bloc-info-bloc2 {
  display:flex;
}

.greeter-profil-bloc-info-description {
  text-align:justify;
  width:35vw;
  padding: 0 1vw;
  /* background: rgba(231, 26, 28, 0.05);
  border: 1px solid rgba(231, 26, 28, 0.5); */
  box-sizing: border-box;
  border-radius: 10px;
}

.greeter-profil-bloc-info-infos {
  padding: 0 1vw;
  width:16vw;
  background: rgba(231, 26, 28, 0.05);
  border: 1px solid rgba(231, 26, 28, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 0 0 2vw;
}

